


.container1 {
    width: 80%;
    margin: 0 auto;
}


.container1 .btn {
    margin: 10px;
    border: 1px solid var(--textcolor2);
    padding: 10px 25px;
    font-size: 20px;
    font-family: 'Monaco', sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
    outline: none;
    border-radius: 10px;
}


.container1 .btn1,
.container1 .btn2 {
    color: var(--textcolor2);
    transition: all ease;
}


.container1 .btn3,
.container1 .btn4 {
    color: var(--textcolor1);
    transition: all ease;
}


.container1 .btn1:hover,
.container1 .btn2:hover {
    color: var(--textcolor1) ;
    transition: .8s;
}


.container1 .btn3:hover,
.container1 .btn4:hover {
    color: var(--textcolor2);
    transition: .8s;
}


.container1 .btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--textcolor2);
    z-index: -1;
    transition: all ease .6s;
}


.container1 .btn1::before,
.container1 .btn3::before {
    top: 0;
    border-radius: 0 0 40% 40%;
}


.container1 .btn2::before,
.container1 .btn4::before {
    bottom: 0;
    border-radius: 40% 40% 0 0;
}


.container1 .btn3::before,
.container1 .btn4::before {
    height: 180%;
}



.container1 .btn1:hover::before,
.container1 .btn2:hover::before {
    height: 180%;
}


.container1 .btn3:hover::before,
.container1 .btn4:hover::before {
    height: 0;
}